<%= render 'shared/errors', obj: @recipe%>
<h1>Editing the recipe: <%= @recipe.name%></h1>
<%=form_with(model: @recipe, local: true) do |f|%>
  <%=f.label :Recipe_name%>
  <%=f.text_field :name%>
  <%=f.submit%>
<%end%>
