<h1>
  All recipes |
  <%= link_to 'Add new recipe', new_recipe_path%>
</h1>
<ul>
  <%@recipes.each do |r|%>
    <li><b>Recipe name: </b><%=link_to r.name, recipe_path(r)%></li>
    <% if r.ingredients.any?%>
      <b><u>Ingredients: </u></b>
      <%r.ingredients.each do |ing|%>
        <li><%= ing.list%></li>
      <% end %>
      <%= link_to 'add another ingredient', new_ingredient_path(recipe_id: r.id)%>
    <% else%>
      <li><%= link_to 'add ingredients', new_ingredient_path(recipe_id: r.id)%></li>
    <%end%>
    <% if r.recipe_type.nil?%>
      <li><%= link_to 'add recipe type', new_recipe_type_path(recipe_id: r.id)%></li></br>
    <% else%>
      <%rt = RecipeType.find_by(recipe_id: r.id)%>
      <li><b>Recipe type: </b><%= rt.recipe_type%></li></br>
    <%end%>
  <%end%>
</ul>
