<h1>Adding new recipe:</h1>
<%=form_with(model: @recipe, local: true) do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%>
  <%=f.submit%>
<%end%>
<h2>
  <%= link_to 'Add ingredients here!', new_ingredient_path%></br>
  <%= link_to 'Add recipe type here!', new_recipe_type_path%>
</h2>
