<%= render 'shared/errors', obj: @ingredient%>
 <%id = params[:recipe_id]%>
<h1>Adding new ingredient:</h1>
<%= form_for @ingredient do |f| %>
  <%= f.label :ingredients%>
  <%= f.text_area :list%>
  <%= f.hidden_field :recipe_id, value: id%>
  <%= f.submit %>
<% end %>
